<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Operations</title>
</head>
<body>
    <% if params['operation'] == 'add' %>
    <%= params['number1'].to_i + params['number2'].to_i %>
    <% else params['operation'] == 'subtract' %>
    <%= params['number2'].to_i - params['number1'].to_i %>
    <% else params['operation'] == 'multiply' %>
    <%= params['number1'].to_i * params['number2'].to_i %>
    <% else params['operation'] == 'divide' %>
    <%= params['number2'].to_i / params['number1'].to_i %>
</body>
</html>